logs
run.sh
target
mpesa.db
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/bin/
project/project
project/target
project/.sbtserver.lock
project/.sbtserver
.idea
*.pyc
*.log
*.db
py3/
nohup.out
order_system/local_settings.py
cos/
static/media/
static/media/product_images
migrations/
node_modules/
order_system/static/django/
order_system/static/intl-tel-input-master/
order_system/*.json
order_system/backups/
order_system/.idea/
order_system/.coverage
order_system/misc/
order_system/order_system/local_settings.py
order_system/order_system/rapidor_email_conf.py
order_system/order_system/secondary_email.py
order_system/profile_images/
order_system/rapidor_developer_build.sh
order_system/rapidorco.db.apk.bak
order_system/static/js/gmaps.js
order_system/static/materialize/
order_system/static/media/product_docs/
order_system/static/media/product_file/
order_system/static/media/quotation/
order_system/static/media/profile_images/
order_system/temp/
order_system/templates/registration/
order_system/static/media/ci_package.apk
order_system/static/media/*.apk
order_system/sql/all.sql
order_system/api_data_issues.txt
order_system/order_system/pawan_local_settings.py
order_system/order_system/pawan_settings.py
order_system/tmp.sql
order_system/order_system/pawan_common_settings.py

